@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.titulo {
  margin-top: 20px;
  text-align: center;
}

.titulo h1 {
  color: rgb(123, 123, 312);
}

.evolucion_java {
  position: relative;
  margin: auto 100px;
}

.evolucion_java::before {
  content: " ";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 3px;
  background: rgb(123, 123, 312);
}

.evolucion_java ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 40px 20px;
}
.evolucion_java ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.evolucion_java ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.evolucion_java ul li:nth-child(even) ::before {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 45px;
  left: -4px;
  background: rgb(123, 123, 312);
  box-shadow: 0 0 0 2px rgba(123, 123, 312, 0.2);
  border-radius: 50%;
}

.evolucion_java ul li:nth-child(odd) ::before {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 45px;
  right: -6px;
  background: rgb(123, 123, 312);
  box-shadow: 0 0 0 2px rgba(123, 123, 312, 0.2);
  border-radius: 50%;
}

.fecha {
  background: rgba(123, 123, 312, 0.75);
  box-shadow: 0 5px 19px rgba(123, 123, 312);
  text-align: center;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.fecha h2 {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.contenedor p {
  margin-top: 15px;
  font-size: 13px;
  text-align: justify;
}
